// ==== Font Family ==== //
$title-fonts: 'Circular Std',
sans-serif;
$text-font: 'Poppins',
sans-serif;
// ==== colors ==== // 
$title-color: #233d63;
$text-color: #7b8491;
$primary-color: #ee9abb;
$background-color: #fde2e2;