@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #7b8491;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
}

a {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

a:hover {
  text-decoration: none;
  outline: 0;
}

a:focus {
  text-decoration: none;
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #233d63;
  font-family: "Circular Std", sans-serif;
  font-weight: 500;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input:focus,
button:focus {
  outline: 0;
}

figure {
  margin: 0;
}

section {
  display: block;
  position: relative;
  padding: 50px 0;
  width: 100%;
}

@media screen and (max-width: 767px) {
  section {
    padding-bottom: 50px;
  }
}

.sec-heading {
  margin-bottom: 80px;
}

.sec-heading .sec-title {
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 0;
}

@media screen and (max-width: 991px) {
  .sec-heading .sec-title {
    font-size: 38px;
    line-height: 48px;
  }
}

.sec-heading .sec-subtitle {
  font-family: "Circular Std", sans-serif;
  font-size: 24px;
  color: #7b8491;
  text-transform: capitalize;
  margin-bottom: 0;
}

.btn {
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 0.8;
  text-transform: capitalize;
  padding: 20px 40px;
}

@media screen and (min-width: 992px) {
  .btn:not(:nth-of-type(1)) {
    margin-left: 25px;
  }
}

.btn-filled {
  background-color: #fde2e2;
  color: #ee9abb;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.btn-filled:after {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  right: auto;
  bottom: auto;
  background: #ee9abb;
  height: 100%;
  -webkit-transform: skew(50deg);
  transform: skew(50deg);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  width: 0;
  z-index: -1;
}

.btn-filled:hover {
  color: #fff;
}

.btn-filled:hover:after {
  width: 150%;
}

.tagline {
  color: #ee9abb;
  display: block;
  font-family: "Circular Std", sans-serif;
  font-size: 22px;
  text-transform: capitalize;
  margin-bottom: 10px;
  position: relative;
}

@media screen and (max-width: 991px) {
  .tagline {
    font-size: 18px;
  }
}

.iconBox .img-icon {
  max-width: 100%;
  margin: 0 auto 42px;
  width: auto;
}

.iconBox .icon {
  border-radius: 50%;
  display: block;
  font-size: 27px;
  line-height: 70px;
  margin: 0 auto 30px;
  height: 70px;
  width: 70px;
}

.iconBox:hover h5 {
  color: #ee9abb;
}

.iconBox:hover svg {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.header {
  display: block;
  position: relative;
  padding: 20px 0;
  width: 100%;
}

.header .sticky {
  position: fixed;
  width: 100%;
  background: #ffffff;
  display: block;
  z-index: 9;
  -webkit-box-shadow: 0 10px 20px rgba 1, 36, 75, 0.1;
  box-shadow: 0 10px 20px rgba 1, 36, 75, 0.1;
}

.header .btn {
  margin-left: auto;
  margin-right: 20px;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.header .btn-filled {
  padding: 18px 25px;
}

@media screen and (max-width: 1199px) {
  .header .btn-filled span {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header .btn-filled i {
    display: none;
  }
}

.header .logo {
  display: block;
  max-width: 150px;
  margin-right: 50px;
}

@media screen and (max-width: 991px) {
  .header .logo {
    display: block;
    max-width: 135px;
  }
}

.header #mobile-menu-toggler {
  color: #000;
  font-size: 20px;
  margin-left: auto;
  margin-right: 10px;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  margin: 0;
  border: 1px solid #dfe0e5;
  padding: 10px 15px;
}

@media screen and (min-width: 992px) {
  .header #mobile-menu-toggler {
    display: none;
  }
}

.header #mobile-menu-toggler:hover {
  border-color: #ee9abb;
  color: #233d63;
}

.navbar {
  padding: 0;
}

@media screen and (max-width: 991px) {
  .navbar {
    position: inherit;
  }
}

.navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

@media screen and (max-width: 991px) {
  .navbar-nav {
    background-color: #ffffff;
    z-index: 9;
  }
}

.navbar-nav li {
  position: relative;
}

.navbar-nav li a {
  color: #233d63;
  display: block;
  font-family: "Circular Std", sans-serif;
  font-size: 17px;
  line-height: 0.8;
  padding: 15px 20px;
}

@media screen and (max-width: 991px) {
  .navbar-nav li a {
    padding: 20px 35px;
  }
}

.navbar-nav li a:hover {
  color: #ee9abb;
}

.navbar-nav li .sub-menu {
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.07);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.07);
}

@media screen and (min-width: 992px) {
  .navbar-nav li .sub-menu {
    position: absolute;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 220px;
    z-index: 1;
  }
}

@media screen and (max-width: 991px) {
  .navbar-nav li .sub-menu {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .navbar-nav li .sub-menu a {
    padding: 20px;
  }
}

.navbar-nav li .sub-menu a:hover {
  background-color: #f5f5f5;
}

@media screen and (min-width: 992px) {
  .navbar-nav li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 991px) {
  .navbar-nav {
    background-color: #fff;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .navbar-nav li a {
    padding: 20px 35px;
  }
  .navbar-nav li a:hover {
    background-color: #f5f5f5;
  }
}

@media screen and (max-width: 575px) {
  .navbar-nav li a {
    padding: 20px 15px;
  }
}

.menu-dropdown {
  color: #000000;
  cursor: pointer;
  display: block;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 52%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 991px) {
  .menu-dropdown {
    right: 35px;
    top: 15px;
    -webkit-transform: none;
    transform: none;
  }
}

.banner {
  padding: 70px 0;
}

.banner .content-box-fluid h2 {
  color: #233d63;
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 30px;
}

@media screen and (max-width: 991px) {
  .banner .content-box-fluid h2 {
    font-size: 38px;
    line-height: 50px;
  }
}

@media screen and (max-width: 479px) {
  .banner .content-box-fluid h2 {
    font-size: 30px;
    line-height: 40px;
  }
}

.banner .content-box-fluid p {
  color: #7b8491;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 50px;
}

.banner .form {
  position: relative;
  border: 1px solid #dfe0e5;
  border-radius: 3px;
}

.banner .form input {
  border: none;
  font-size: 14px;
  color: #999;
  height: 100%;
  width: 100%;
  padding: 25px;
}

.banner .form input:placeholder {
  opacity: 1;
}

.banner .form .btn {
  color: #fff;
  background-color: #ee9abb;
  border-radius: 3px;
  font-family: "Circular Std", sans-serif;
  font-size: 18px;
  margin: 0;
  height: calc(100% - 8px);
  position: absolute;
  top: 4px;
  right: 4px;
}

.banner .form .btn:hover {
  color: #ee9abb;
}

.banner .form .btn:hover:after {
  background-color: #fff;
}

.banner .ban-img {
  padding: 0 10%;
  position: relative;
}

.banner .ban-img img {
  width: auto;
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .banner .ban-img {
    margin-bottom: 40px;
  }
}

.features .sec-heading {
  margin-bottom: 80px;
}

.features .sec-heading .sec-title {
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 0;
}

@media screen and (max-width: 991px) {
  .features .sec-heading .sec-title {
    font-size: 38px;
    line-height: 48px;
  }
}

@media screen and (max-width: 479px) {
  .features .sec-heading .sec-title {
    font-size: 26px;
    line-height: 30px;
  }
}

.features .sec-heading .sec-subtitle {
  font-family: "Circular Std", sans-serif;
  font-size: 24px;
  color: #7b8491;
  text-transform: capitalize;
  margin-bottom: 0;
}

.features .iconBox {
  position: relative;
  text-align: center;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

@media screen and (max-width: 991px) {
  .features .iconBox {
    margin-bottom: 30px;
  }
}

.features .iconBox .iconBox-inner {
  position: relative;
  display: block;
}

.features .iconBox .iconBox-inner svg {
  width: 60px;
  position: absolute;
  height: 70px;
  top: 18px;
  left: 0;
  margin: auto;
  right: 13px;
  bottom: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.features .iconBox .iconBox-inner .img-icon {
  max-width: 100%;
  margin: 0 auto 30px;
  width: auto;
}

.features .iconBox h5 {
  display: block;
  color: #233d63;
  font-family: "Circular Std", sans-serif;
  font-size: 24px;
  margin-bottom: 16px;
}

.features .iconBox p {
  color: #7b8491;
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.features .iconBox:hover h5 {
  color: #ee9abb;
}

.features .iconBox:hover svg {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.content-sec-2col {
  overflow: hidden;
}

.content-sec-2col .iconBox {
  text-align: left;
}

.content-sec-2col .iconBox .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 27px;
  border-radius: 4px;
  position: relative;
}

.content-sec-2col .iconBox .icon svg {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.content-sec-2col .iconBox img {
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .content-sec-2col .iconBox img {
    margin: 0 auto;
    max-width: 100%;
    width: auto;
  }
}

.content-sec-2col .iconBox h5 {
  font-family: "Circular Std", sans-serif;
  font-size: 24px;
  margin-bottom: 13px;
}

.content-sec-2col .iconBox p {
  color: #7b8491;
  font-size: 15px;
}

.content-sec-2col .content-box h2 {
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 18px;
}

@media screen and (max-width: 991px) {
  .content-sec-2col .content-box h2 {
    font-size: 38px;
    line-height: 48px;
  }
}

@media screen and (max-width: 479px) {
  .content-sec-2col .content-box h2 {
    font-size: 38px;
    line-height: 48px;
  }
}

.content-sec-2col .content-box h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 30px;
}

.pricing {
  position: relative;
}

.pricing .pricing-box {
  border: 1px solid #dfe0e5;
  border-radius: 5px;
  text-align: center;
  padding: 45px 20px;
}

@media screen and (max-width: 991px) {
  .pricing .pricing-box {
    margin-bottom: 30px;
  }
}

.pricing .pricing-box .img-icon {
  max-width: 60%;
  margin: 0 auto 50px;
  width: auto;
}

.pricing .pricing-box .price {
  color: #233d63;
  font-family: "Circular Std", sans-serif;
  font-size: 60px;
  line-height: 0.8;
}

.pricing .pricing-box ul {
  padding: 0;
  margin: 35px 0;
}

.pricing .pricing-box ul li {
  color: #7b8491;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 12px;
}

.funfacts ul {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.funfacts ul li {
  -ms-flex-preferred-size: calc(100% / 3);
  flex-basis: calc(100% / 3);
  position: relative;
  padding-left: 115px;
}

@media screen and (max-width: 991px) {
  .funfacts ul li {
    -ms-flex-preferred-size: calc(100% / 2);
    flex-basis: calc(100% / 2);
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .funfacts ul li {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

.funfacts ul li .img-icon {
  max-width: 30%;
  width: auto;
  position: absolute;
  left: 0;
}

.funfacts ul li span {
  color: #233d63;
  font-family: "Circular Std", sans-serif;
  font-size: 50px;
  line-height: 60px;
  margin-left: 10px;
}

.funfacts ul li p {
  color: #233d63;
  font-family: "Circular Std", sans-serif;
  font-size: 24px;
  line-height: 36px;
  margin-left: 10px;
}

.app-download-btn {
  display: inline-block;
  border: 1px solid #dfe0e5;
  border-radius: 4px;
  color: #233d63;
  font-size: 18px;
  font-family: "Circular Std", sans-serif;
  text-transform: capitalize;
  padding: 18px 30px 18px 70px;
  position: relative;
}

@media screen and (max-width: 479px) {
  .app-download-btn {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .app-download-btn {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
  }
}

.app-download-btn i {
  position: absolute;
  color: #ee9abb;
  font-size: 30px;
  left: calc(50% - 75px);
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.app-download-btn span {
  color: #7b8491;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  display: block;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.app-download-btn:not(:nth-child(1)) {
  margin-right: 18px;
}

.app-download-btn:hover {
  background-color: #ee9abb;
  border-color: #ee9abb;
  color: #fff;
}

.app-download-btn:hover i,
.app-download-btn:hover span {
  color: #ffffff;
}

.lds-dual-ring {
  position: fixed;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  z-index: 99999;
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #233d63 transparent #233d63 transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
          animation: lds-dual-ring 1.2s linear infinite;
}

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
